li#button: a(href='#') Button
li#button_no_theme: a(href='#') Button base
li#text_input: a(href='#') Text Input
li#search_input: a(href='#') Search input
li#radio_input: a(href='#') Radio input
li#range_input: a(href='#') Range input
li#input_base: a(href='#') Input Base
li#textarea: a(href='#') Textarea
li#textarea_base: a(href='#') Textarea Base
li#navigation_bar: a(href='#') Navigation bar
li#navigation_bar_base: a(href='#') Navigation bar base