// includes/components-links.jade

ul.button.active.three-quarters
	header
		h2(data-github='button') Button on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_topcoat_button&test=loading_benchmark_topcoat_button&device=Nexus4') details
		a.topcoat-button.baseline(href='/baseline?test=smoothness_benchmark_topcoat_button&test=smoothness_benchmark_topcoat_button-base&test=loading_benchmark_topcoat_button&test=loading_benchmark_topcoat_button-base&device=Nexus4') baseline
ul.button_no_theme.not-active.three-quarters
	header
		h2(data-github='button-base') Button base on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_topcoat_button-base&test=loading_benchmark_topcoat_button-base&device=Nexus4') details
ul.text_input.not-active.three-quarters
	header
		h2(data-github='text-input') Text input on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_text-input&test=smoothness_benchmark_topcoat_text-input&device=Nexus4') details
		a.topcoat-button.baseline(href='/baseline?test=loading_benchmark_topcoat_text-input&test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_text-input&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') baseline
ul.input_base.not-active.three-quarters
	header
		h2(data-github='input-base') Input base on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') details
ul.textarea.not-active.three-quarters
	header
		h2(data-github='textarea') Textarea on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_textarea&test=smoothness_benchmark_topcoat_textarea&device=Nexus4') details
		a.topcoat-button.baseline(href='/baseline?test=loading_benchmark_topcoat_textarea&test=loading_benchmark_topcoat_textarea-base&test=smoothness_benchmark_topcoat_textarea&test=smoothness_benchmark_topcoat_textarea-base&device=Nexus4') details
ul.textarea_base.not-active.three-quarters
	header
		h2(data-github='textarea-base') Textarea base on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_textarea-base&test=smoothness_benchmark_topcoat_textarea-base&device=Nexus4') details
ul.search_input.not-active.three-quarters
	header
		h2(data-github='search-input') Search input on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_search-input&test=smoothness_benchmark_topcoat_search-input&device=Nexus4') details
		a.topcoat-button.baseline(href='/baseline?test=loading_benchmark_topcoat_search-input&test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_search-input&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') baseline
ul.radio_input.not-active.three-quarters
	header
		h2(data-github='radio-input') Radio input on Nexus4
	li
		a.topcoat-button(href='/dashboard?&test=smoothness_benchmark_topcoat_radio-input&device=Nexus4&test=loading_benchmark_topcoat_radio-input') details
		a.topcoat-button.baseline(href='/baseline?test=smoothness_benchmark_topcoat_radio-input&test=loading_benchmark_topcoat_radio-input&test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') baseline
ul.radio_input.not-active.three-quarters
	header
		h2(data-github='radio-input') Radio input base on Nexus4
	li
		a.topcoat-button(href='/dashboard?&test=smoothness_benchmark_topcoat_radio-input-base&device=Nexus4&test=loading_benchmark_topcoat_radio-input-base') details

ul.checkbox_input.not-active.three-quarters
	header
		h2(data-github='checkbox') Checkbox on Nexus4
	li
		a.topcoat-button(href='/dashboard?&test=smoothness_benchmark_checkbox-test&device=Nexus4&test=loading_benchmark_checkbox-test') details
		a.topcoat-button.baseline(href='/dashboard?test=smoothness_benchmark_checkbox-test&test=loading_benchmark_checkbox-test&test=smoothness_benchmark_topcoat_checkbox-base&device=Nexus4&test=loading_benchmark_topcoat_checkbox-base') baseline

ul.checkbox_input_base.not-active.three-quarters
	header
		h2(data-github='checkbox-base') Checkbox base on Nexus4
	li
		a.topcoat-button(href='/dashboard?&test=smoothness_benchmark_topcoat_checkbox-base&device=Nexus4&test=loading_benchmark_topcoat_checkbox-base') details

ul.range_input.not-active.three-quarters
	header
		h2(data-github='range-input') Range input on Nexus4
	li
		a.topcoat-button(href='/dashboard?&test=smoothness_benchmark_topcoat_range-input&device=Nexus4&test=loading_benchmark_topcoat_range-input') details
		a.topcoat-button.baseline(href='/baseline?test=smoothness_benchmark_topcoat_range-input&test=loading_benchmark_topcoat_range-input&test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') baseline
ul.navigation_bar.not-active.three-quarters
	header
		h2(data-github='navigation-bar') Navigation bar on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_navigation-bar&test=smoothness_benchmark_topcoat_navigation-bar&device=Nexus4') details
		a.topcoat-button.baseline(href='/baseline?test=loading_benchmark_topcoat_navigation-bar&test=loading_benchmark_topcoat_navigation-bar-base&test=smoothness_benchmark_topcoat_navigation-bar&test=smoothness_benchmark_topcoat_navigation-bar-base&device=Nexus4') baseline
ul.navigation_bar_base.not-active.three-quarters
	header
		h2(data-github='navigation-bar-base') Navigation bar base on Nexus4
	li
		a.topcoat-button(href='/dashboard?test=loading_benchmark_topcoat_navigation-bar-base&test=smoothness_benchmark_topcoat_navigation-bar-base&device=Nexus4') details

// includes/flip.jade
include flip


