// includes/components-links.jade

ul.button.active.three-quarters
	header
		h2(data-github='topcoat-effeckt') Topcoat Buttons + Effeckt on Nexus
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_effeckt_buttons&test=loading_benchmark_effeckt_buttons&device=Nexus4') details
ul.lists_scroll.not-active.three-quarters
	header
		h2(data-github='topcoat-effeckt') Topcoat Buttons + Lists Scroll on Nexus
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_effeckt_lists_scroll&test=loading_benchmark_effeckt_lists_scroll&device=Nexus4') details
ul.list_items.not-active.three-quarters
	header
		h2(data-github='topcoat-effeckt') Topcoat Buttons + List Items on Nexus
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_effeckt_list_items&test=loading_benchmark_effeckt_list_items&device=Nexus4') details

// includes/flip.jade
include flip


