// includes/components-links.jade

ul.buttons.active.three-quarters
	header
		h2(data-github='button') Topcoat Buttons + Effeckt on Nexus
	li
		a.topcoat-button(href='/dashboard?test=smoothness_benchmark_effeckt_buttons&test=loading_benchmark_effeckt_buttons&device=Nexus4') details

// includes/flip.jade
include flip


