.container
	header
		.max-width
			hgroup
				h1.title: a(href='/')= title
				h4 Results and benchmarks for Topcoat
			nav.nav--subheading
				ul
					li: a(href='http://topcoat.io/topcoat') Usage Guidelines
					li: a(href='http://bench.topcoat.io') Benchmarks
					li: a(href='http://topcoat.io/blog') Blog
					li: a.topcoat-button--large--cta(href='https://github.com/topcoat/topcoat/archive/0.5.1.zip') Download v0.5.1