!!! 5
head
  title= title
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/baseline.css')
  link(rel='stylesheet', href='/stylesheets/topcoat.css')

body

  include includes/navigation

  h1 Baseline
  script(src="/javascripts/d3.v3.min.js")
  script(src="/javascripts/baseline2.js")
  script(src="/javascripts/baselineCompare.js")
