extends layout

block content
	h1= title
	#holder


	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.line-min.js')
	script(src='/javascripts/g.dot-min.js')
	script(src='/javascripts/dashboard.js')
	script(src='/javascripts/analytics.js')