extends layout
block content

	include includes/navigation

	.test-navigation
		.max-width
			header
				h2 Plot
			.info-box.white= test.join(', ') + ' on ' + device
			.demo-container
				#placeholder.demo-placeholder
			p.toggle.white

	script(src='/javascripts/libraries/jquery.min.js')
	script(src='/javascripts/libraries/jquery.flot.min.js')
	script(src='/javascripts/libraries/underscore-min.js')
	script(src='/javascripts/script.jplot.js')
	script(src='/javascripts/baseline.jplot.js')