extends layout

block content
	h1 #{title}
	h3
		span
		| results 
	ul.breadcrumbs
		li: a(href='/view/results') All tests
		li: a(href='/view/results/li simple') #{title}
		li: a(href='?version') with version number

	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.dot-min.js')
	script(src='/javascripts/graph.js')