extends layout

block content
	h1 #{title}

	script(src='http://localhost:3000/javascripts/raphael-min.js')
	script(src='http://localhost:3000/javascripts/g.raphael-min.js')
	script(src='http://localhost:3000/javascripts/g.dot-min.js')
	script(src='http://localhost:3000/javascripts/graph.js')