extends layout

block content
	h1= title
	p benchmarking server
	p
		ul
			li 
				| You can run the tests 
				a(href='http://topcoat.github.com/topcoat/test/loadtime/topcoat.html') here
			li
				| You can view the results 
				a(href='http://topcoat.herokuapp.com/view/results') here 