extends landing-layout

block content
	.container
		header
			h1.title= title
			h2 Results and benchmarks for TopCoat
		
	.test-navigation
		.container
			h3 Dashboard
			ul#components
				li.category Component
				li#button Button
				li#button_no_theme Button base
				li#text_input Text Input
				li#search_input Search input
				li#input_base Input Base
				li#textarea Textarea
				li#textarea_base Textarea Base
				li#navigation_bar Navigation bar
				li#navigation_bar_base Navigation bar base
			ul.button.not-active
				li.category Machine - Button
				li
					a(href='/dashboard?test=smoothness_benchmark_topcoat_button&test=loading_benchmark_topcoat_button&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=smoothness_benchmark_topcoat_button&test=loading_benchmark_topcoat_button&device=Nexus4') details
			ul.button_no_theme.not-active
				li.category Machine - Button base
				li
					a(href='/dashboard?test=smoothness_benchmark_topcoat_button-base&test=loading_benchmark_topcoat_button-base&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=smoothness_benchmark_topcoat_button-base&test=loading_benchmark_topcoat_button-base&device=Nexus4') details
			ul.text_input.not-active
				li.category Machine - Text input
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_text-input&test=smoothness_benchmark_topcoat_text-input&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_text-input&test=smoothness_benchmark_topcoat_text-input&device=Nexus4') details
			ul.input_base.not-active
				li.category Machine - Input base
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_input-base&test=smoothness_benchmark_topcoat_input-base&device=Nexus4') details
			ul.textarea.not-active
				li.category Machine - Textarea
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_textarea&test=smoothness_benchmark_topcoat_textarea&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_textarea&test=smoothness_benchmark_topcoat_textarea&device=Nexus4') details
			ul.textarea_base.not-active
				li.category Machine - Textarea base
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_textarea-base&test=smoothness_benchmark_topcoat_textarea-base&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_textarea-base&test=smoothness_benchmark_topcoat_textarea-base&device=Nexus4') details
			ul.search_input.not-active
				li.category Machine - Search input
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_search-input&test=smoothness_benchmark_topcoat_search-input&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_search-input&test=smoothness_benchmark_topcoat_search-input&device=Nexus4') details
			ul.navigation_bar.not-active
				li.category Machine - Navigation bar
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_navigation-bar&test=smoothness_benchmark_topcoat_navigation-bar&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_navigation-bar&test=smoothness_benchmark_topcoat_navigation-bar&device=Nexus4') details
			ul.navigation_bar_base.not-active
				li.category Machine - Navigation bar base
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_navigation-bar-base&test=smoothness_benchmark_topcoat_navigation-bar-base&device=Nexus4') Nexus 4 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_navigation-bar-base&test=smoothness_benchmark_topcoat_navigation-bar-base&device=Nexus4') details
			ul.plot
				li.category Plot
				#holder
					.spinner
			h3 View 
				a(href='/view/results') Click for aggregated results

	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.line-min.js')
	script(src='/javascripts/dashboard.js')
	script(src='/javascripts/landingpage.js')