extends landing-layout

block content
	.container
		header
			h1.title= title
			h2 Results and benchmarks for TopCoat
		
	.test-navigation
		.container
			h3 Dashboard
			ul
				li.category Component
				li.button Button
				li.button_no_theme Button_no_theme
			ul.button
				li.category Machine
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_buttons,smoothness_benchmark_topcoat_buttons&device=wp-mac01_mac_mini') wp-mac01_mac_mini 
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_buttons,smoothness_benchmark_topcoat_buttons&device=wp-mac01_mac_mini') details
			ul.button_no_theme
				li.category Machine
				li
					a(href='/dashboard?test=loading_benchmark_topcoat_buttons_no_theme,smoothness_benchmark_topcoat_buttons_no_theme&device=wp-mac01_mac_mini') wp-mac01_mac_mini
					a(class='button', href='/dashboard?test=loading_benchmark_topcoat_buttons_no_theme,smoothness_benchmark_topcoat_buttons_no_theme&device=wp-mac01_mac_mini') details
			ul.plot
				li.category Plot
				#holder
					.spinner
			h3 View 
				a(href='/view/results') Click for aggregated results

	script(src='/javascripts/raphael-min.js')
	script(src='/javascripts/g.raphael-min.js')
	script(src='/javascripts/g.line-min.js')
	script(src='/javascripts/dashboard.js')
	script(src='/javascripts/landingpage.js')