extends layout
//- "#" + Math.random().toString(16).slice(2, 8)
block content
	h1 Telemetry compare results
	- var tests = []
	each val, key in results[0].result
		- tests.push(key)
	- var colors = []
	- results.forEach(function (r) {
		- var color = "#" + Math.random().toString(16).slice(2, 8)
		- colors.push(color)
		.progress(style="width:500px;background:"+color)= r.commit.substring(0, 6) + ' on ' + r.platform + ' on a ' + r.device
	- })
 
	table
		tbody
				- tests.forEach(function (test, i) {
					- var className = (i%2) ? 'odd' : 'even';
					- results.forEach(function(r, idx) {
						tr(class=className)
							- if (idx == 0)
								td(rowspan=results.length, width='200px')= test
								td: .progress(style="width: " + r.result[test]*10 + "%; background:" + colors[idx])= r.result[test]
							- else
								td: .progress(style="width: " + r.result[test]*10 + "%; background:" + colors[idx])= r.result[test]
					- })
				- })
