extends layout
//- "#" + Math.random().toString(16).slice(2, 8)
block content
	h1 Telemetry compare results <a href="http://topcoat.herokuapp.com/v2/view/results">Go back</a>
	- var tests = []
	each val, key in results[0].result
		- tests.push(key)
	- var colors = ['#8AC8C3', '#D3EBC7', '#AABFAA', '#BF9692', '#FC0284']
	- results.forEach(function (r, i) {
		.progress(style="width:500px;background:"+colors[i])= r.commit.substring(0, 6) + ' on ' + r.platform + ' on a ' + r.device
	- })
	- if (tests.length > 31)
		h1 You might be comparing two diferent types of tests
		h3 So the columns don't match up ;(
	table
		tbody
				- tests.forEach(function (test, i) {
					- var className = (i%2) ? 'odd' : 'even';
					- results.forEach(function(r, idx) {
							- if (!isNaN(r.result[test]))
								- var bar_length = 0
								- if (r.result[test] > 1000)
									bar_length = r.result[test] / 100000
								- else
									- if (r.result[test] > 100)
										bar_length = r.result[test] / 10
									- else
										- if (r.result[test] < 5)
											bar_length = 5 * r.result[test]
										- else
											bar_length = r.result[test]
								- if (idx == 0)
									tr(class=className + ' group' + i)
										td(rowspan=results.length, width='200px')= test
										td: .progress(style="width: " + bar_length + "%; background:" + colors[idx])= r.result[test]
								- else
									tr(class=className)
										td: .progress(style="width: " + bar_length + "%; background:" + colors[idx])= r.result[test]
					- })
				- })
