extends layout

block content
	h1= title
	h3 All Topcoat versions
	table
		thead
			tr
				th commit
				th date
		tbody
			- tests.forEach(function(test){
				tr(data-time=test.miliseconds)
					td: a(href='./' + test.commit) #{test.commit}
					td= test.formatedDate
			- })