@font-face {
  font-family: "source-l";
  src: url("../font/SourceSansPro/SourceSansPro-Light.otf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "source-sb";
  src: url("../font/SourceSansPro/SourceSansPro-Semibold.otf");
  font-weight: 700;
  font-style: normal;
}
body {
  font: 14px source-l, sans-serif;
  color: #454545;
  margin: 40px;
}
a {
  color: #0083e8;
}
svg {
  height: 1000px;
  width: 1000px;
}
table {
  margin: 2em 0;
  width: 100%;
}
td {
  font-size: 12px;
  text-align: left;
  padding: 1em 0.5em 1em 1em;
  background: #edf1f1;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf;
}
td:hover .add-filter {
  visibility: visible;
}
thead tr {
  background: #dfe2e2;
}
thead tr:hover {
  background: #dfe2e2;
}
thead tr th {
  padding: 0.5em 0.5em 0.5em 1em;
  text-align: left !important;
  text-shadow: 0 1px 0 #fff;
}
tr {
  -webkit-transition-duration: 0.1s;
}
tr:hover {
  background: #f4f4f4;
}
#holder {
  width: 800px;
  height: 600px;
}
.odd {
  background: #e5e9e9;
}
.odd:hover {
  background: #edf1f1;
}
.even:hover {
  background: none;
}
.odd td,
.even td {
  border: none;
  padding: 0.5em 0.5em 0.5em 1em;
}
.hide {
  display: none;
}
[class*=" group"] {
  border-top: 1px solid #dddfdf;
}
.commit + a img {
  width: 16px;
  margin: 0 0.5em -2px;
  opacity: 0;
}
tr:hover img {
  opacity: 1;
  transition-duration: 0.5s;
}
.stress-selectors {
  border-top: 1px solid #ddd;
}
.progress {
  color: #333;
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: 2px;
}
.progress .hidden {
  display: none;
}
.progress:hover .hidden {
  display: block;
}
.add-filter,
.close {
  margin: 0 0 0 0.5em;
  visibility: hidden;
  padding: 0 0.4em;
  text-decoration: none;
  border: 1px solid #9c9e9e;
  background: #e5e9e9;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  color: #454545;
  text-shadow: 0 1px 0 #fff;
}
.close {
  visibility: visible;
  cursor: pointer;
}
.legend {
  position: absolute;
  top: 50px;
  right: 50px;
}
.test-info {
  background: #f8f8f8;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 0.5em;
}
.test-info li {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0.5em;
  margin-left: -0.5em;
}
.test-info h2 {
  text-align: center;
}
.test-info input {
  display: block;
  width: 80%;
  padding: 0.5em;
  margin: 0.5em 0;
}
button {
  font-size: 12px;
  font-family: source-l, sans-serif;
  padding: 4px 10px;
  border: 1px solid #9c9e9e;
  background: #e5e9e9;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
  text-shadow: 0 1px 0 #fff;
}
input[type="checkbox"] {
  margin-right: 0.5em;
}
