body {
  background: #f5f5f5;
}
.chart rect {
  fill: #70afc4;
  stroke: rgba(0,0,0,0.3);
}
.chart .base {
  fill: #a0cad8;
}
.tooltip {
  padding: 0 0.5em;
  border-radius: 10px;
  background: #a0cad8;
  color: #fff;
  position: absolute;
  z-index: 100;
  -webkit-transition-duration: 0.5s;
  opacity: 0;
  font-size: 12px;
}
.tooltip p {
  margin: 0.2em;
}
