fontColor = #F0F1F1
darkBg = #3B3E3E
fontColor--dark = #373435

@import "checkbox.css"

body
	font-size 16px
	-webkit-font-smoothing: antialiased;

h1, h2, h3, h4, h5, h6
	font-weight: normal
	color fontColor--dark

a
	color fontColor
	text-decoration: none

li
	display: inline-block
	margin-right: 30px
	color fontColor

aside
	margin-bottom: 2.7em

h2, h3
	clear: both
	margin: 0

h3
	border-bottom: 1px solid #e0e0e0
	padding: 0 0 0.7em

.container
	width: 90%
	text-align: left
	margin: 0 auto 0 auto

.container ul.plot
	width: 50%

header
	padding: 2em 0 2.5em

header h4
	margin: 0

.title
	font-size 60px
	margin 5px 0 0
	letter-spacing -0.065em
	line-height 1.1em
	font-weight 600
	a
		color darkBg

.copy
	width: 100%
	text-align: center
	font-size: 1.5em

.footer
	text-align: center
	margin: 0 auto
	min-width: 400px

.devices
	margin: 0

.links
	margin: 0
	padding: 0
	margin-top: 50px
	font-size: .875em

@media only screen and (min-width: 35em)
	.container
		width: 90%

	.copy
		font-size: 2.1em

	.title
		font-size: 3em

.dashboard-link
	background: #f05

.test-navigation
	background darkBg
	width: 100%
	padding: 0.3em 0
	position: relative
	color: #454545
	header
		position relative
		padding 0
		margin 0
		&:after
			content ''
			position absolute
			top 30px
			width 100%
			border 1px solid #58595A
		h2
			position relative
			display inline-block
			font-size 28px
			font-weight 300
			margin 10px 0 25px
			padding-right 10px
			color fontColor

.test-navigation:after
	content: ''
	display: block
	width: 100%
	height: 1px
	clear: both

.test-navigation .container
	text-align: left
	width: 90%
	margin-top: 2em
	margin-bottom: 2em

.test-navigation li
	display: block
	overflow: hidden
	padding: 1em
	margin: 0
	-webkit-transition-duration: .5s
	-moz-transition-duration: .5s
	transition-duration: .5s
	border-bottom 1px solid #58595A
	&:last-child
		border none

li small
	font-size: 0.8em

li small:before
	content: " — "

li.active
	color lighten(fontColor, 30)
	font-weight bold
	position: relative
	padding-left: 35px
	-webkit-transition-duration: .5s
	-moz-transition-duration: .5s
	transition-duration: .5s


ul
	margin: 0
	box-sizing border-box

.test-navigation
	ul
		float left
		padding 0
		.quarter
			margin 0 2rem 0 0
			box-sizing border-box

.not-active
	display: none

ul.active
	display: block

.spinner
	-webkit-animation: 0.75s rotate infinite linear
	-moz-animation: 0.75s rotate infinite linear
	animation: 0.75s rotate infinite linear

@-webkit-keyframes rotate
	0%
		-webkit-transform: rotate(0)
	100%
		-webkit-transform: rotate(360deg)

@-moz-keyframes rotate
	0%
		-moz-transform: rotate(0)
	100%
		-moz-transform: rotate(360deg)

.spinner
	display: none
	margin: 10% auto
	width: 16px
	height: 16px
	background: url("../img/spinner.png") 50% no-repeat
	background-size: 100%

a.button:hover
	background-image: none, -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#edefef))
	background-position: center
	background-repeat: none

a.button:active
	background-color: #d3d7d7
	background-image: none
	background-position: center
	background-repeat: none
	box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06)
	text-decoration: none

#placeholder
	height: 400px
	width 900px

.nav--subheading
	position: absolute
	right: 0
	top: 20px
	font-size 1.5rem
	a
		color fontColor--dark
	.topcoat-button--large--cta
		color white

.max-width
	max-width: 1180px
	position: relative
	margin: 0 auto

.docNav
	width 100%
	box-sizing border-box
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 0 1px #303233;
	text-shadow: 0 -1px 0 #000;
	overflow: hidden;
	font-size: 14px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	-webkit-appearance: none;
	-moz-appearance: button;
	background: #595B5B;
	box-shadow: 0 0 0 1px #303233;
	border: none;
	border-top: 2px solid #666767;
	color: #FFF;
	text-shadow: 0 -1px 0 #000;
	padding: 3px 20px 4px 8px;
	-webkit-appearance: none;

.plot__tooltip
	position: absolute
	border-radius 5px
	padding: 5px
	font-size: 14px
	background rgba(0,0,0,.7)
	color white
	table td
		padding .2rem
		&:first-child
			text-align right
	a
		border-bottom 1px solid white

.worse
	color red

.better
	color green

.pull-right
	float right

.toggle
	color #fff

.info-box
	padding-left .5rem
	display inline-block

.bordered
	border-radius 5px
	border 5px solid rgba(0,0,0,.1)
	box-shadow 0 0 2px black

.white
	color #fff

.topcoat-progress-bar {
	overflow: hidden;
	height: 1.25rem;
	margin: 2px;
	border-radius: 12px;
	background-color: #d3d7d7;
	box-shadow: 0 1px rgba(255,255,255,0.25), inset 0 1px rgba(0,0,0,0.12);
}
.topcoat-progress-bar > .progress {
	display: block;
	height: 100%;
	border-radius: 12px 0 0 12px;
	background-color: #e0f0fa;
	box-shadow: inset 0 1px rgba(0,0,0,0.12);
	line-height: 1.25rem;
}
.progress--complete {
	width: 100%;
}

table
	margin 2em 0
	width 100%
	a
		color #444

td
	font-size 12px
	text-align left
	padding 1em 0.5em 1em 1em
	background #edf1f1
	border-top 1px solid #DDDFDF
	border-bottom 1px solid #DDDFDF
	&:hover .add-filter
		visibility visible

thead tr
	background #DFE2E2
	cursor default
	border-bottom 1px solid #f05
	&:hover
		background #DFE2E2
	th
		padding 1rem
		text-align left
		font-weight bold
		font-size 1.1rem

thead tr
	th:first-child
		border-top-left-radius 5px
	th:last-child
		border-top-right-radius 5px

tbody tr:first-child td
	border-top 1px solid #aaa

tr
	-webkit-transition-duration .1s
	cursor pointer
	&:hover td
		background #e5e9e9
		-webkit-transition-duration .2s
		-moz-transition-duration .2s
		transition-duration .2s

.odd td
	background #DDDFDF