body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

table
	width 100%
	text-align center
	border-collapse collapse

table
	td, th
		padding 10px
		border-top 1px solid #ddd
	tr:last-child td
		border-bottom 1px solid #ddd
	thead th
		border none
table tr.results-controls
	td
		padding 8px 0 0 0
		border-bottom 0