body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
svg {
  height: 1000px;
  width: 1000px;
}
table {
  width: 100%;
}
td {
  text-align: center;
  padding: 1em 0.5em;
  background: -moz-linear-gradient(#fafafa, #f4f4f4);
  background: -webkit-linear-gradient(#fafafa, #f4f4f4);
  background: linear-gradient(#fafafa, #f4f4f4);
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e0e0e0;
}
td:hover .add-filter {
  visibility: visible;
}
thead tr {
  background: -moz-linear-gradient(#f4f4f4, #e0e0e0);
  background: -webkit-linear-gradient(#f4f4f4, #e0e0e0);
  background: linear-gradient(#f4f4f4, #e0e0e0);
}
thead tr:hover {
  background: -moz-linear-gradient(#f4f4f4, #e0e0e0);
  background: -webkit-linear-gradient(#f4f4f4, #e0e0e0);
  background: linear-gradient(#f4f4f4, #e0e0e0);
}
thead tr th {
  padding: 1em;
  text-shadow: 0 1px 0 #fff;
}
tr {
  -webkit-transition-duration: 0.1s;
}
tr:hover {
  background: #f4f4f4;
}
#holder {
  width: 800px;
  height: 600px;
}
.odd {
  background: #eee;
}
.odd:hover {
  background: #eee;
}
.even:hover {
  background: none;
}
.odd td,
.even td {
  padding: 1.5em;
}
.hide {
  display: none;
}
[class*=" group"] {
  border-top: 2px solid #999;
}
.commit + a img {
  width: 16px;
  margin: 0 0.5em -2px;
  opacity: 0;
}
tr:hover img {
  opacity: 1;
  transition-duration: 0.5s;
}
.stress-selectors {
  border-top: 1px solid #ddd;
}
.progress {
  color: #333;
  padding: 0.1em;
  font-size: 0.8em;
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.2);
}
.progress .hidden {
  display: none;
}
.progress:hover .hidden {
  display: block;
}
.add-filter,
.close {
  margin: 0 0.1em;
  visibility: hidden;
  background: -moz-linear-gradient(#f0f0f0, #fff);
  background: -webkit-linear-gradient(#f0f0f0, #fff);
  background: linear-gradient(#f0f0f0, #fff);
  padding: 0.1em 0.4em 0.2em;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.close {
  visibility: visible;
  cursor: pointer;
}
.legend {
  position: absolute;
  top: 50px;
  right: 100px;
}
.test-info {
  background: #f8f8f8;
  width: 300px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 0.5em;
}
.test-info li {
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 0.5em;
  margin-left: -0.5em;
}
.test-info h2 {
  text-align: center;
}
button {
  padding: 0.5em;
  border: 1px solid #eee;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  background: -webkit-linear-gradient(#fafafa, #e5e5e5);
  background: linear-gradient(#fafafa, #e5e5e5);
  border-radius: 5px;
}
