body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
svg {
  top: 200px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  border: none;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}
thead tr:hover {
  background: none;
}
tr {
  -webkit-transition-duration: 0.1s;
}
tr:hover {
  background: #f4f4f4;
}
.hide {
  display: none;
}
