body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF
svg
	top 200px

table
	border-collapse: collapse
	width 100%

td
	border none
	margin 0
	padding:.5em
	text-align center

thead tr:hover
	background none

tr
	-webkit-transition-duration .1s
	&:hover
		background #f4f4f4

.hide
	display none

.commit + a img
	width 16px
	margin 0 .5em -2px
	opacity 0

tr:hover img
	opacity 1
	transition-duration .5s
	